@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --font-family-citacao: "Inria Sans", sans-serif;
  --font-family-Karla: "Karla", sans-serif;

  --cor-datas: #37823a;
  --background-btn: #30475e;
  --fundo-rodape: #000000;

  --background-placar: #d8d8d8;
  --background-sobre: #dfdfdf;
  --background-texto-sobre: #5c5a5a;
  --cor-texto-sobre: #fcfcfc;
}

body {
  font-family: var(--font-family-Karla);
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
